<div class="container">
  <div class="filter">
    <%= form_tag posts_path, method: :get do %>
      <%= label_tag :title %>
      <%= text_field_tag :title %>
      
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>

  <h1>Posts</h1>
  
  <table class="table" table-hover table-condensed>
    <thead>
      <tr>
        <th>Title</th>
        <th>Spoiler</th>
      </tr>
    </thead>
  
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= post.spoiler %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  
  <br>
</div>
