<!DOCTYPE html>
<html>
  <head>
    <title>Hdscraper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  	<script src="//ros-bilet.ru/sites/all/script/frame/widget/v1/js/jqueryui.custom.js"></script>
    <link type="text/css" href="//ros-bilet.ru//sites/all/script/frame/widget/v1/css/jqueryui.custom.css" rel="stylesheet" />
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
